@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<ul>
    <li><a class="active" href="/Index/Index">Home</a></li>
    <li><a href="/Login/Login">Login</a></li>
    <li><a href="/Register/Register">Register</a></li>
    <li><a href="/About/About">About</a></li>
</ul>
<h1>Welcome to Procom E-Voting </h1>
<style>
    h1{
        padding-bottom:400px;
        color:black;
    }
</style>



