<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/styles/style.css" rel="stylesheet" />
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: #808080;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }
            li input {
                display: block;
                color: #808080;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
